.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: unset !important;
}

body {
    overflow-x: hidden !important;
}

.custom-card-heading {
    display: inline;
}

.custom-add-new-button {
    right: 10px;
    float: right;
    position: relative;
    top: -10px;
    background-color: white;
    color: black;
}
.custom-add-new-button:hover {
    background-color: white;
    color: black;
}
.ck-rounded-corners{
    width: 100% !important;
}

a.navbar-brand.m-0.new-da img {
    display: block;
}

a.navbar-brand.m-0.new-da {
    padding-top: 16px !important;
    padding-left: 16px;
}

.text-danger{
    margin-top: -15px;
}

.input-group-outline.mb-3{
    margin-top: 10px;
}